# dependencies
node_modules/
node_modules*/
package-lock*.json
!package-lock.json

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# generated native folders - exclude build artifacts
# If you want to keep the folders but not the massive build files
ios/build/
ios/Pods/
ios/DerivedData/
android/build/
android/.gradle/
android/app/build/

# Private files
*.local
google-services.json
GoogleService-Info.plist
.env
*.bak

# Secrets
src/config/secrets.js

# Backups
*_backup/
*_backup_duplicates/
ios_backup/
android_backup/
* OLD/
* 2/
* 3/
* 4/

# Build Artifacts
*.ipa
*.apk
*.dSYM
*.mobileprovision
*.log

# Sensitive
*papillon*

# Specific Wallet binaries
NotiaNote-Wallet-Backend/**/*.pkpass
NotiaNote-Wallet-Backend/check.zip
NotiaNote-Wallet-Backend/certs/
NotiaNote-Wallet-Backend/images/
NotiaNote-Wallet-Backend/node_modules/
NotiaNote-Wallet-Backend/package-lock.json
